<!DOCTYPE html>
<html>
<head>
    <title>Literary MBTI Quiz</title>
</head>
<body>
    <h1>Literary MBTI Quiz</h1>

    <form action="/result" method="post">

        <p>1. You’re at a social gathering. What are you doing?</p>
        <!--a-->
        <label> <img src="https://i.pinimg.com/736x/83/1e/81/831e816c7abeb2753fb32bf04aeb54c4.jpg" alt="Observing" width="200">
        <input type="radio" name="answer0" value="a"> Observing<br></label>

        <!--b-->
        <label> <img src="https://i.pinimg.com/736x/99/64/6c/99646c534de5141b05e064c02abcbf8b.jpg" alt="Socializing" width="200">
        <input type="radio" name="answer0" value="b"> Socializing<br></label>

        <!--c-->
        <label> <img src="https://i.pinimg.com/736x/fb/a6/7d/fba67d2e96a0af5ce17fcc9677d7d5cc.jpg" alt="Thinking" width="200">
        <input type="radio" name="answer0" value="c"> Thinking<br></label>

        <!--d-->
        <label> <img src="https://i.pinimg.com/736x/ad/ac/0f/adac0f18baebd5b4031e7e373efc000f.jpg" alt="Witty banter" width="200">
        <input type="radio" name="answer0" value="d"> Witty banter<br></label>

        <p>2. What draws you most in a story?</p>
        <input type="radio" name="answer1" value="a"> Psychology<br>
        <input type="radio" name="answer1" value="b"> Emotions<br>
        <input type="radio" name="answer1" value="c"> Imagination<br>
        <input type="radio" name="answer1" value="d"> Dialogue<br>

        <p>3. Your ideal writing style is:</p>
        <input type="radio" name="answer2" value="a"> Analytical<br>
        <input type="radio" name="answer2" value="b"> Expressive<br>
        <input type="radio" name="answer2" value="c"> Creative<br>
        <input type="radio" name="answer2" value="d"> Persuasive<br>

        <p>4. What inspires you most?</p>
        <input type="radio" name="answer3" value="a"> Nature<br>
        <input type="radio" name="answer3" value="b"> People<br>
        <input type="radio" name="answer3" value="c"> Ideas<br>
        <input type="radio" name="answer3" value="d"> Experiences<br>

        <p>5. How do you approach conflict?</p>
        <input type="radio" name="answer4" value="a"> Analyze the situation<br>
        <input type="radio" name="answer4" value="b"> Seek to understand all perspectives<br>
        <input type="radio" name="answer4" value="c"> Find a creative solution<br>
        <input type="radio" name="answer4" value="d"> Address it directly<br>
        <!-- Repeat for all questions -->

        <br><br>
        <button type="submit">See Result</button>

    </form>
</body>
</html>